button{padding:8px 35px;border:none;border-radius:8px;margin-right:10px;cursor:pointer;transition:background-color .3s ease,transform .2s ease;font-size:1rem;font-weight:700;background-color:#8a2be2}
